.App {
  text-align: center;
  background-color: #D4AF37;
  width: 1000px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 12px 50px 50px 50px;
  border-radius: 4px;
  color: #033859;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  background-color: #808080;
  color: white;
  height: 450px;
  width: 700px;
  text-align: center;
  border-radius: 4px;

  box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, .75)
}

.intro-steps {
  font-weight: bold;
}

.steps {
  list-style-type: none;
}

.steps li {
  padding: 10px;
}

.modal-button {
  font-size: 19px;
  border: none;
  cursor: pointer;
  padding: 15px 70px;
  margin: 15px 0;
  letter-spacing: 2px;
  font-weight: 700;
  outline: none;
  position: relative;
  border-radius: 5px;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;


  background: #D4AF36;
  color: #fff;
  box-shadow: 0 6px #806920;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.modal-button:hover {
  box-shadow: 0 4px #806920;
  top: 2px;
}

.modal-button:active {
  box-shadow: 0 0 #806920;
  top: 6px;
}

.direction-nums {
  font-weight: bold;
  color: #D4AF37;
}

.timer {
  text-align: left;
}