.App {
  text-align: center;
  background-color: #D4AF37;
  width: 1000px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 12px 50px 50px 50px;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  background-color: #808080;
  color: white;
  height: 450px;
  width: 700px;
  text-align: center;
  border-radius: 8px;

}

.intro-steps {
  font-weight: bold;
}

.steps {
  list-style-type: none;
}

.steps li {
  padding: 10px;
}

.modal-button {
  height: 35px;
  width: 200px;
  border-radius: 4px;
  background-color: #D4AF37;
  color: white;
  font-weight: bold;
  font-size: 19px;
}

.direction-nums {
  font-weight: bold;
  color: #D4AF37;
}

.timer {
  text-align: left;
}